
@{
    ViewBag.Title = "Index";
    var articles = ViewBag.BlogArticles as List<BlogArticle>;
}

<h2>博客</h2>


<fieldset>
    <form method="get" action="@Url.Action("index")">搜索： <input type="text" name="ss" value="@ViewBag.ss" />  <input type="submit" value="搜索" /> </form>
</fieldset>
<ol>
    @foreach (var item in articles)
    {
        <li>
            @Html.ActionLink("[  编辑  ]", "Edit", new { id = item.Id }) |
            @Html.ActionLink("[  删除  ]", "Delete", new { id = item.Id }) |
            @*<a href="Blog/Show/@item.Id">@item.Subject</a>*@
            <a href="@Url.Action("Show",new { id=item.Id})">@item.Subject</a>
        </li>
    }
</ol>

